# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=Intellij IDEA
Comment=Intellij IDEA IDE
Exec=intellij
Icon={{intellij_install_dir}}/{{intellij_folder_name}}/bin/idea.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true