This is {{ ansible_hostname }} [{{ ansible_default_ipv4.address }}]

{% if motd_header is defined %}
{{ motd_header }}
{% else %}
 __      __   _     _ 
 \ \    / /  (_)   | |
  \ \  / /__  _  __| |
   \ \/ / _ \| |/ _` |
    \  / (_) | | (_| |
     \/ \___/|_|\__,_|
{% endif %}

NB: System and application configuration for this host is managed by automated
systems. To ensure that any changes you make here are not lost, please follow
the processes outlined in the relevant repository:

    https://github.com/ncarlier/devbox

{% if motd_custom is defined %}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
{{ motd_custom }}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
{% endif %}
Last ansible run: {{ ansible_date_time.iso8601 }}
